@use 'sass:math';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.small-proj ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li {
  animation: show-list 1s forwards;
}

@for $i from 1 through 53 {
  li:nth-child(#{$i}) {
    animation-delay: 0.5s * math.floor($i / 2);
    opacity: 0;
  }
}

@keyframes show-list {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
